* {
    box-sizing: border-box;
}
body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto',
        'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans',
        'Helvetica Neue', sans-serif;
}
.marker {
    transform: translate(-50%, -100%);
}

.error {
    color: #f05305;
}

.marker.red path {
    fill: #f05305;
}

.marker.yellow path {
    fill: #f3b73e;
}

.popup {
    width: 40vw;
    padding: 1rem;
}

.popup img {
    height: 200px;
    width: auto;
    text-align: center;
    margin: 0 auto;
    display: block;
}

.entry-form label,
.entry-form input,
.entry-form textarea,
.entry-form button {
    font-size: 1rem;
    margin: 0.5rem 0;
    display: block;
    width: 100%;
}
.header {
    padding: 0 50px 0 50px;
    display: flex;
    align-items: center;
}
.header-logo {
    width: 50px;
    height: 50px;
    transform: rotateZ(45deg);
}
.header a {
    text-decoration: none;
    color: #1b2737;
    padding: 0 10px;
}
